@import 'variables';
@import '@gitlab/ui/src/scss/variables';
@import '@gitlab/ui/src/scss/utility-mixins';

@import 'utilities/mixins';

@import 'framework/base';
@import 'framework/color';
@import 'framework/content';
@import 'framework/footer';
@import 'framework/logo';
@import 'framework/navbar';
@import 'framework/sidebar';
@import 'framework/sizing';
@import 'framework/typography';

@import 'components/card';
@import 'components/logo';
@import 'components/table';

@import 'pages/index';
@import 'pages/p_baseline-grid';
@import 'pages/p_spacing';

@import 'pages/p-color';
@import 'pages/p_components';
@import 'pages/p_icons_explorer';

@import '@gitlab/ui/src/scss/utilities';

/**
Import GitLab UI component styles.
At the moment we only import component specific styles in order to avoid side-effects
*/
.app-styles {
  @import '@gitlab/ui/src/scss/gitlab_ui';
}

// TODO: Move the following utils to GitLab UI
.gl-gap-7 {
  gap: $gl-spacing-scale-7;
}

.gl-grid-template-columns-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
